body{
    margin: 0px;
}

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://www.shutterstock.com/image-photo/blank-black-corporate-stationery-on-600nw-1051434977.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}